ClientConsumoSoap/src/wsdl/localhost_8080/ProyectoSoapServer/servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sv/" name="servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://sv/" schemaLocation="http://localhost:8080/ProyectoSoapServer/servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="valorResultado">
<part name="parameters" element="tns:valorResultado"/>
</message>
<message name="valorResultadoResponse">
<part name="parameters" element="tns:valorResultadoResponse"/>
</message>
<message name="signup">
<part name="parameters" element="tns:signup"/>
</message>
<message name="signupResponse">
<part name="parameters" element="tns:signupResponse"/>
</message>
<message name="diccionario">
<part name="parameters" element="tns:diccionario"/>
</message>
<message name="diccionarioResponse">
<part name="parameters" element="tns:diccionarioResponse"/>
</message>
<message name="multiplicacion">
<part name="parameters" element="tns:multiplicacion"/>
</message>
<message name="multiplicacionResponse">
<part name="parameters" element="tns:multiplicacionResponse"/>
</message>
<message name="potencia">
<part name="parameters" element="tns:potencia"/>
</message>
<message name="potenciaResponse">
<part name="parameters" element="tns:potenciaResponse"/>
</message>
<message name="area">
<part name="parameters" element="tns:area"/>
</message>
<message name="areaResponse">
<part name="parameters" element="tns:areaResponse"/>
</message>
<message name="factorial">
<part name="parameters" element="tns:factorial"/>
</message>
<message name="factorialResponse">
<part name="parameters" element="tns:factorialResponse"/>
</message>
<message name="signin">
<part name="parameters" element="tns:signin"/>
</message>
<message name="signinResponse">
<part name="parameters" element="tns:signinResponse"/>
</message>
<message name="divicion">
<part name="parameters" element="tns:divicion"/>
</message>
<message name="divicionResponse">
<part name="parameters" element="tns:divicionResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="par_impar">
<part name="parameters" element="tns:par_impar"/>
</message>
<message name="par_imparResponse">
<part name="parameters" element="tns:par_imparResponse"/>
</message>
<message name="resta">
<part name="parameters" element="tns:resta"/>
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse"/>
</message>
<message name="volumenCubo">
<part name="parameters" element="tns:volumenCubo"/>
</message>
<message name="volumenCuboResponse">
<part name="parameters" element="tns:volumenCuboResponse"/>
</message>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<portType name="servicios">
<operation name="update">
<input wsam:Action="http://sv/servicios/updateRequest" message="tns:update"/>
<output wsam:Action="http://sv/servicios/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="valorResultado">
<input wsam:Action="http://sv/servicios/valorResultadoRequest" message="tns:valorResultado"/>
<output wsam:Action="http://sv/servicios/valorResultadoResponse" message="tns:valorResultadoResponse"/>
</operation>
<operation name="signup">
<input wsam:Action="http://sv/servicios/signupRequest" message="tns:signup"/>
<output wsam:Action="http://sv/servicios/signupResponse" message="tns:signupResponse"/>
</operation>
<operation name="diccionario">
<input wsam:Action="http://sv/servicios/diccionarioRequest" message="tns:diccionario"/>
<output wsam:Action="http://sv/servicios/diccionarioResponse" message="tns:diccionarioResponse"/>
</operation>
<operation name="multiplicacion">
<input wsam:Action="http://sv/servicios/multiplicacionRequest" message="tns:multiplicacion"/>
<output wsam:Action="http://sv/servicios/multiplicacionResponse" message="tns:multiplicacionResponse"/>
</operation>
<operation name="potencia">
<input wsam:Action="http://sv/servicios/potenciaRequest" message="tns:potencia"/>
<output wsam:Action="http://sv/servicios/potenciaResponse" message="tns:potenciaResponse"/>
</operation>
<operation name="area">
<input wsam:Action="http://sv/servicios/areaRequest" message="tns:area"/>
<output wsam:Action="http://sv/servicios/areaResponse" message="tns:areaResponse"/>
</operation>
<operation name="factorial">
<input wsam:Action="http://sv/servicios/factorialRequest" message="tns:factorial"/>
<output wsam:Action="http://sv/servicios/factorialResponse" message="tns:factorialResponse"/>
</operation>
<operation name="signin">
<input wsam:Action="http://sv/servicios/signinRequest" message="tns:signin"/>
<output wsam:Action="http://sv/servicios/signinResponse" message="tns:signinResponse"/>
</operation>
<operation name="divicion">
<input wsam:Action="http://sv/servicios/divicionRequest" message="tns:divicion"/>
<output wsam:Action="http://sv/servicios/divicionResponse" message="tns:divicionResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://sv/servicios/helloRequest" message="tns:hello"/>
<output wsam:Action="http://sv/servicios/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="par_impar">
<input wsam:Action="http://sv/servicios/par_imparRequest" message="tns:par_impar"/>
<output wsam:Action="http://sv/servicios/par_imparResponse" message="tns:par_imparResponse"/>
</operation>
<operation name="resta">
<input wsam:Action="http://sv/servicios/restaRequest" message="tns:resta"/>
<output wsam:Action="http://sv/servicios/restaResponse" message="tns:restaResponse"/>
</operation>
<operation name="volumenCubo">
<input wsam:Action="http://sv/servicios/volumenCuboRequest" message="tns:volumenCubo"/>
<output wsam:Action="http://sv/servicios/volumenCuboResponse" message="tns:volumenCuboResponse"/>
</operation>
<operation name="suma">
<input wsam:Action="http://sv/servicios/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://sv/servicios/sumaResponse" message="tns:sumaResponse"/>
</operation>
</portType>
<binding name="serviciosPortBinding" type="tns:servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="valorResultado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="signup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="diccionario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="potencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="area">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="factorial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="signin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="par_impar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="volumenCubo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servicios">
<port name="serviciosPort" binding="tns:serviciosPortBinding">
<soap:address location="http://localhost:8080/ProyectoSoapServer/servicios"/>
</port>
</service>
</definitions>